@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&family=League+Spartan:wght@500;600;700&display=swap');

:root {
    --bg-color : #FF6666;
    }
    

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}